body{
                
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:0;
    
}
header{
    background: black;
    color:white; 
    padding:40px;
}
section{
    background-image: url("download\ \(1\).jfif");
    background-size: cover;
    color:black;
    padding:45px;
    height: 450px;

}
div{
    display:inline-block;
     width: 100px;

}
ul{
    margin:0;
    padding:0;
     list-style-type: none;
    }
    li{
        display:inline-block;
        margin:0 20px 0 0;
    
    }
footer{
    padding:35px;
    background:black;
    color:white;
    height:100px;

}
.btn{
    width: 30%%;
    background: none;
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.custom-select {
    position: relative;
    font-family: Arial;
    background-color: darkmagenta;
  }
.topnav {
    float: right;
}
  